<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlr.myshop.mapper.UserMapper">

    <!--用户列表+分页-->
    <select id="getAllUserList" resultType="user">
        select *
        from user
        limit #{pageStart},#{pageSize}
    </select>

    <select id="getUserListById" resultType="user">
        select *
        from user
        where user_id = #{user_id}
    </select>

    <select id="getUserListByName" resultType="user">
        select *
        from user
        where loginName = #{name}
    </select>

    <!--用户总数-->
    <select id="getUserListCount" resultType="Integer">
        select count(*)
        from user
    </select>

    <!--新增用户-->
    <insert id="insertUser">
        insert into user (user_name, password, loginName, email, headPath, mobileNumber, user_power)
        values (#{user_name}, #{password}, #{loginName}, #{email}, #{headPath}, #{mobileNumber}, #{user_power})
    </insert>

    <!--按ID删除-->
    <delete id="deleteUserById">
        delete
        from user
        where user_id = #{user_id}
    </delete>

    <!--批量删除-->
    <delete id="deleteUserAllId">
        delete from user
        <where>
            user_id in
            <foreach collection="array" item="user_id" separator="," open="(" close=")">
                #{user_id}
            </foreach>
        </where>
    </delete>


    <!--更新用户-->
    <update id="updateUser">
        update user
        <set>
            <if test="user_name!=null and user_name!=''">
                user_name=#{user_name},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="loginName!=null and loginName!=''">
                loginName=#{loginName},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="headPath!=null and headPath!=''">
                headPath=#{headPath},
            </if>
            <if test="mobileNumber!=null and mobileNumber!=''">
                mobileNumber=#{mobileNumber},
            </if>
            <if test="user_power!=null and user_power!=''">
                user_power=#{user_power}
            </if>
        </set>
        where user_id = #{user_id}
    </update>


</mapper>
